:root {
  --color-primary: #194880;
  --color-primary-rgb: 25, 72, 128;
  --color-secondary: #EAB716;
  --color-secondary-rgb: 234, 183, 22;
  --color-black: #222222;
  --color-black-rgb: 34, 34, 34;
  --color-black-light: #333333;
  --color-black-light-rgb: 51, 51, 51;
}
