:root {
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Space Grotesk', sans-serif;

  /* set base values */
  --text-base-size: 1rem;
  --text-scale-ratio: var(--text-base-size);
  
  /* type scale */
  --text-xs: calc((1rem / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: var(--heading-line-height);
}

p {
  line-height: var(--body-line-height);
}
