@import 'partials/utils';

#header {
  position: relative;
  height: 600px;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 80px;
}

.header__logo {
  width: 220px;
  margin-bottom: 60px;
}

.header__title1 {
  font-weight: 700;
  color: var(--color-secondary);
  margin: 0;
  text-align: center;
}

.header__title2 {
  font-weight: 500;
  color: var(--color-primary);
  margin: 0;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 5px;
}

.shape1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 90px 270px;
  border-color: transparent transparent #c4c4c4 transparent;
}

.shape2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 47.5px);
  transform: translatex(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 90px 270px;
  border-color: transparent transparent #bbbbbb transparent;
}

.container__title {
  margin: 0;
  font-size: 2.5rem;
}

.container__title-shadow {
  position: absolute;
  top: -30px;
  left: 20px;
  margin: 0;
  font-size: 6rem;
  opacity: 0.05;
  user-select: none;
}

#about-us {
  color: white;
  height: auto;
  background-color: var(--color-primary);
  border-top: 5px solid var(--color-secondary);
  // border-bottom: 5px solid var(--color-secondary);

  .container__inner {
    padding: 50px 20px 50px 20px;
  }

  .container__title-shadow {
    color: white;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 1250px) {

}

@media (max-width: 768px) {
  .container__title-shadow {
    display: none;
  }
  .shape1 {
    border-width: 0 100px 70px 200px;
  }
  .shape2 {
    border-width: 0 5px 70px 200px;
  }
}

@media (max-width: 450px) {
  .header__logo {
    width: 200px;
  }
  .shape1 {
    border-width: 0 100px 60px 150px;
  }
  .shape2 {
    border-width: 0 5px 60px 150px;
  }
  .header__title1 {
    font-size: 1.8rem;
  }
  .header__title2 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
}
