@import '../partials/utils';

.nav-main {
  margin-top: 20px;
  @include flex-center;
}

.nav-main__link {
  position: relative;
  font-weight: 600;
  padding: 20px 15px;
  text-decoration: none;
  color: var(--color-primary);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--color-secondary);
    border-radius: 5px;
    transition: all .1s linear;
    z-index: -1;
    opacity: 0.45;
  }

  &:hover::before {
    height: 40px;
    opacity: 0.15;
  }
}

@media (max-width: 450px) {
  .nav-main {
    align-items: unset;
    justify-content: unset;
    overflow: auto;
    padding: 0 20px;
  }
}
