@import './normalize';
@import '../partials/typography';
@import '../partials/colors';

* {
  box-sizing: border-box;
}

:root {
  --drop-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  --border-radius: 0.5rem;
}

a, a:hover, a:active, a:focus {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

canvas {
  display: block;
}

/* Section container */
.container {
  overflow: hidden;
}

.container__inner {
  position: relative;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
}

/* Page header */
#page-header {
  position: relative;
  margin-top: 100px;
  background-color: var(--color-primary);
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-top: 5px solid var(--color-secondary);
  border-bottom: 5px solid var(--color-secondary);
}
#page-title {
  margin: 0;
  text-transform: uppercase;
}
.triangle-top-left {
  position: absolute;
  top: -35px;
  left: 0;
  border-style: solid;
  border-width: 40px 0 0 200px;
  border-color: transparent transparent transparent var(--color-primary);
}
.triangle-top-right {
  position: absolute;
  top: -35px;
  right: 0;
  border-style: solid;
  border-width: 0 0 40px 200px;
  border-color: transparent transparent var(--color-primary) transparent;
}
.triangle-bottom-left {
  position: absolute;
  bottom: -7.5px;
  left: 0;
  border-style: solid;
  border-width: 40px 0 0 200px;
  border-color: transparent transparent transparent white;
}
.triangle-bottom-right {
  position: absolute;
  bottom: -7.5px;
  right: 0;
  border-style: solid;
  border-width: 0 0 40px 200px;
  border-color: transparent transparent white transparent;
}
@media (max-width: 1024px) {
  .triangle-top-left {
    top: -25px;
    border-width: 30px 0 0 100px;
  }
  .triangle-top-right {
    top: -25px;
    border-width: 0 0 30px 100px;
  }
  .triangle-bottom-left {
    bottom: -7.5px;
    border-width: 30px 0 0 100px;
  }
  .triangle-bottom-right {
    bottom: -7.5px;
    border-width: 0 0 30px 100px;
  }
}
@media (max-width: 745px) {
  .triangle-top-left {
    display: none;
  }
  .triangle-top-right {
    display: none;
  }
  .triangle-bottom-left {
    display: none;
  }
  .triangle-bottom-right {
    display: none;
  }
}

@import './nav';
@import './footer';
