@import './normalize';
@import '../partials/typography';
@import '../partials/colors';

* {
  box-sizing: border-box;
}

:root {
  --drop-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  --border-radius: 0.5rem;
}

a, a:hover, a:active, a:focus {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

canvas {
  display: block;
}

/* Page header */
#page-header {
  position: relative;
  margin-top: 100px;
  background-color: var(--color-primary);
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-top: 5px solid var(--color-secondary);
  border-bottom: 5px solid var(--color-secondary);
}
#page-title {
  margin: 0;
}
.triangle-top-left {
  position: absolute;
  top: -35px;
  left: 0;
  border-style: solid;
  border-width: 40px 0 0 200px;
  border-color: transparent transparent transparent var(--color-primary);
}
.triangle-top-right {
  position: absolute;
  top: -35px;
  right: 0;
  border-style: solid;
  border-width: 0 0 40px 200px;
  border-color: transparent transparent var(--color-primary) transparent;
}
.triangle-bottom-left {
  position: absolute;
  bottom: -5px;
  left: 0;
  border-style: solid;
  border-width: 40px 0 0 200px;
  border-color: transparent transparent transparent white;
}
.triangle-bottom-right {
  position: absolute;
  bottom: -5px;
  right: 0;
  border-style: solid;
  border-width: 0 0 40px 200px;
  border-color: transparent transparent white transparent;
}

@import './nav';
@import './footer';
